@font-face {
  font-family: 'Aurebesh';
  src: url('fonts/aurebesh/Aurebesh.ttf');
}

.App {
  text-align: center;
}

/* target both text areas */
#english, #aurebesh {
  height: 500px;
  width: 600px;
  font-size: 1.5rem;
  padding: .5rem;
}

#english {
  font-family: sans-serif;
}

#aurebesh {
  font-family: 'Aurebesh';
}
