@font-face {
  font-family: 'Aurebesh';
  src: url('fonts/aurebesh/Aurebesh.ttf');
}

.App {
  text-align: center;
}

#english {
  font-family: sans-serif;
  height: 100%;
}

#aurebesh {
  font-family: 'Aurebesh';
  height: 100%;
}
